
img{
   width: 10%; 

}
#userImg{
    width: 4%;
    margin-top: 50px;
}
#nav{
    background-color: lightgrey;
        height: 75px;
}
    p{
         direction: rtl;
         margin-top: 0;
        
     }
     #schoolLink{
         text-decoration: none;
         font-size: 30px;
         font-family: sans-serif;
      
         
     }
     #AdminiLink{
         text-decoration: none;
         font-size: 30px;
         font-family: sans-serif;
     }
     #Curses{
        margin-right: 85%;
        text-decoration: underline;
        display: inline-block;
     }

        #user{
         direction: rtl;
         margin-top: -100px;
        
     }
     #formWelcome{
         text-align: center;
     }
#line{
    border-top-style: solid;
    width: 100%;
    height: 2px;
    padding-top: 30px;
}
#lineSchool{
     border-top-style: solid;
    width: 100%;
    height: 2px;
    padding-top: 30px;
    margin-top:75px;
}

#MainContainer{
    width: 60%;
    background-color: lightgoldenrodyellow;
    height: 400px;
  float: right;
}
#MainContain,#Course{
    margin-left: 50%;
}
#StudentsButton{
    
    margin-right: -180px;
}
#courseButton{

}
#section{
    background-color: lightskyblue;
    height: 400px;
    width: 40%;
    float: left;
}
#MainContainNew{
    position: relative;
    margin-top: -200px;
    margin-right: 150px;
    float: right;
}
#MainContainNew2{
    float: right;
     position: relative;
    margin-top: -170px;
   
}
#student{
    background-color: deepskyblue;
}
#course{
    background-color: goldenrod;
}
#MainContainNew3{
        float: right;
    margin-right: 33%;
    position: relative;
    margin-top: -200px;
}
#Administrator{
    background-color: sandybrown;
    width: 44%;
}

#fotter{
    margin-top: 50px;
    background-color:mistyrose;
    
}